@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Oswald);

html {
  font-size: 62.5%; 
}

@media (min-width: 700px) {
  html {
    font-size: 100%;
  }
}

body {
  padding: 5%;
  max-width: 900px;
  margin: 0 auto;
  
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;

  background-image: url('../assets/background.jpg');
  background-size: 100%;
  background-position-y: -2rem;

  color: #faf4ff;
}

header {
  padding-bottom: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #bc4975;
}

a:hover {
  color: #a04065; 
}

h1 {
  text-align: center;
  font-size: 6rem;
  line-height: .5;
}

.h1-subtitle {
  font-size: 2.3rem;
  line-height: .5;
}

.soundcloud-widget {
  margin: 0 auto;
  width: 100%;

  iframe {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }

  @media (min-width: 700px) {
    iframe {
      padding-top: 0rem;
    }
  }
}




